.tooltipster-light {
  border-radius: 5px;
  background: #65515a;
}
.tooltipster-light .tooltipster-content {
  font-size: 25px;
  font-family: 'Journal';
  color: #fff;
  line-height: 16px;
  padding: 12px 10px;
}