.tooltipster-shadow {
  width: 257px;
  height: 101px;
  padding: 11px 58px 0px 6px;
  background: url('../..//img/tooltip_left.png') transparent no-repeat;
  color: #626263;
  margin-top: -40px;
  margin-left: 30px;
}
.tooltipster-shadow .tooltipster-content {
  font-family: 'UniversalFruitCake';
  font-size: 12px;
  line-height: 16px;
  padding: 8px 10px;
  text-align: center;
}