@font-face {
  font-family: 'RobotoThin';
  src: url('../fonts/Roboto-Thin.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'RobotoBold';
  src: url('../fonts/Roboto-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'RobotoMedium';
  src: url('../fonts/Roboto-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'RobotoRegular';
  src: url('../fonts/Roboto-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'RobotoLightItalic';
  src: url('../fonts/Roboto-LightItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'RobotoLight';
  src: url('../fonts/Roboto-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'RobotoBlack';
  src: url('../fonts/Roboto-Black.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'LatoLight';
  src: url('../fonts/Lato-Lig.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'LatoBold';
  src: url('../fonts/Lato-Bol.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Journal';
  src: url('../fonts/JOURNAL.TTF') format('truetype');
  font-weight: normal;
  font-style: normal;
}

html{
  width: 100%;
  height: 100%;
}
body{
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  color: #fff;
}
.clear{
  float: none;
  clear: both;
}
.icon{
  display:inline-block;
  cursor: pointer;
}
.alert-warning, .alert-success{
  padding: 10px;
  font-size: 18px;
  font-family: 'RobotoBold';
}
.wrapper{
  position: relative;
  /*  background: url('../img/maquette.png') transparent no-repeat center center;*/
  /*background-size: 100% 100%;*/
}
.wrapper .main_back{
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;

  background-size: 100% 100%;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
  opacity:0;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
}
.wrapper .bg_4{
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
}
.wrapper .main_back.opaque {
  opacity:1;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=1);
}
/*Header Section*/
.header .logo-wrapper{
  margin-top: 65px;
  margin-bottom: 35px;
}
.site-info{
  font-size: 38px;
}
.site-info p{
  margin-top: 0px;
  margin-bottom: 0px;
}
.site-info .first-meta{
  font-family: 'RobotoThin';
}
.site-info .second-meta{
  font-family: 'RobotoBold';
  color: #ed145b;
  margin-top: -10px;
}
.setting-section{
  margin-top: 20px;
}
.setting-section li{
  background: url('../img/header_bg.png') transparent no-repeat center center;
  width: 96px;
  height: 98px;
  list-style: none;
  display: inline-block;
  padding-top: 60px;
  margin-bottom: 10px;
}
.setting-section .second-meta{
  background-position: -105px 0px;
}
.setting-section .third-meta{
  background-position: -210px 0px;
}
.setting-section .fourth-meta{
  background-position: -314px 0px;
}
.setting-section .fifth-meta{
  background-position: -419px 0px;
}
.flag-nav{
  padding: 0px;
  max-width: 513px;
  margin: 15px auto 0px;
  background: url('../img/lang_bg.png') transparent center center no-repeat;
}
.navbar{
  margin-bottom: 0px;
}
.flag-nav li{
  list-style: none;
  display: inline-block;
}
.flag-nav li a{
  display: block;
  width: 19px;
  height: 19px;
}
.flag-nav li a img{
  margin-top: -3px;
}
/*End Header Section*/

/*File Upload Page*/
#fileuploadpage h1{
  font-size: 45px;
  font-family: 'RobotoMedium';
  margin-bottom: 0px;
  margin-top: 0px;
}
#fileuploadpage .info-meta{
  margin-top: -5px;
  font-size: 22px;
  font-family: 'RobotoLightItalic';
}
#fileuploadpage .main-content .frm_contact
,#fileuploadpage .main-content .message-wrapper{
  max-width: 500px;
  margin: 0px auto;
}
#fileuploadpage .main-content button{
  font-size: 13px;
  font-family: 'RobotoLight';
  text-align: center;
  padding: 0px 10px;
  background: #ed145b;
  border: none;
  color: #fff;
  height: 30px;

  -webkit-box-shadow: 3px 4px 5px 0px rgba(50, 50, 50, 0.15);
  -moz-box-shadow:    3px 4px 5px 0px rgba(50, 50, 50, 0.15);
  box-shadow:         3px 4px 5px 0px rgba(50, 50, 50, 0.15);
}
#fileElem{
  z-index: 0;
  height: 0px;
  width: 0px;
  font-family: 'Journal';
}
.fileupload{
  width: 14px;
  height: 12px;
  background: url(../img/ico_fileupload.png) transparent no-repeat center center;
  position: relative;
  top: 2px;
  right: 2px;
}
.password-wrapper{
  display: none;
}
.form-group{
  overflow: hidden;
}
.site_help{
  width: 24px;
  height: 24px;
  background: url('../img/ico_help.png') #ed145b no-repeat center center;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  margin-right: 10px;
}
.icon_wrapper{
  display: inline-block;
  padding: 0px 15px;
  background-color: #ed145b;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  height: 24px;

  position: relative;
  top: -7px;
}
.file_protect{
  background: url('../img/ico_fileprotect.png') transparent no-repeat left center;
  padding-left: 15px;
  line-height: 24px;
}
.form-group{
  margin-bottom: 10px;
}
.form-group input, .form-group textarea{
  background-color: #fff!important;
  border: none;
  padding: 10px 30px;

  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;

  color: #666!important;
  display: inline-block;
  margin-bottom: 10px;

  -webkit-box-shadow: 3px 4px 5px 0px rgba(50, 50, 50, 0.15);
  -moz-box-shadow:    3px 4px 5px 0px rgba(50, 50, 50, 0.15);
  box-shadow:         3px 4px 5px 0px rgba(50, 50, 50, 0.15);
}
.form-group input{
  height: 30px;
  width: 100%;
}
.form-group.to_email, .form-group.from_email{
  width: 49%;
}
.form-group #to_email{
  background: url('../img/ico_tomail.png') transparent no-repeat 11px 8px;
}
.form-group #from_email{
  background: url('../img/ico_frommail.png') transparent no-repeat 9px 7px;
}
.form-group #inputMessage{
  background: url('../img/ico_message.png') transparent no-repeat 11px 13px;
  margin: 0px;
}
.form-group .num-capture{
  float: left;
  margin-right: 10px;
  display: inline-block;
  line-height: 30px;
}
.form-group.num_captcha{
  width: 15%;
}
.form-group #num_captcha{
  padding: 10px;
  width: 100%;
}
.uploaded_files{
  margin-bottom: 10px;
  padding: 10px 10px 0px;
  background: url('../img/file_upload_bg.png') transparent repeat;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  display: none;
}
.uploaded_files .uploaded_file_item{
  padding: 0px;
  margin: 0px;
  width: 100%;
  overflow: hidden;
}
.uploaded_files .uploaded_file_item li{
  float:left;
  list-style: none;
  font-size: 13px;
  font-family: 'RobotoRegular';
  padding-right: 10px;
  text-align: left;
}
.uploaded_files .uploaded_file_item li:last-child{
  padding-right: 0px;
}
.uploaded_files .uploaded_file_item li.number span{
  display: inline-block;
  font-family: 'RobotoBlack';
  width: 24px;
  height: 24px;
  line-height: 24px;
  max-width: 100%;
  background-color: #ed145b;

  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
}
.uploaded_files .uploaded_file_item li.number{
  width: 10%;
  text-align: center;
}
.uploaded_files .uploaded_file_item li.file_name{
  width: 40%;
}
.uploaded_files .uploaded_file_item li.file_size{
  width: 15%;
}
.uploaded_files .uploaded_file_item li.upload_progress{
  width: 20%;
  text-align: center;
}
.uploaded_files .uploaded_file_item li.upload_progress .progress{
  background: #ed145b;
  display: inline-block;
  font-family: 'RobotoBold';
  width: 0%;
  float:left;
}
.uploaded_files .uploaded_file_item li.file_action{
  width: 15%;
}
.uploaded_files .uploaded_file_item li.file_action a{
  color: #fff;
  font-size: 12px;
  font-family: 'RobotoMedium';
  text-decoration: none;
  padding-left: 20px;
  background: url('../img/ico_delete.png') transparent no-repeat left center;
}
input[type='image']{
  outline: none;
}
.social-icons{
  margin: 35px auto 15px;
}
.social-icons > div{
  width: 120px;
  height: 104px;
  display: inline-block;
  overflow: hidden;
}
.social-icons .like_facebook{
  margin-right: 20px;
}
.footer *{
  color: #fff;
  font-size: 11px;
  text-decoration: none;
}
.footer p{
  margin-bottom: 0px;
}
.footer .first{
  font-family: 'LatoLight';
}
.footer .two{
  font-family: 'LatoBold';
}
.footer .two a:hover{
  text-decoration: none;
  color: #fff;
}
.footer .footer-social{
  margin: 20px auto;
}
.footer .footer-meta{
  margin-bottom: 20px;
}
.footer .footer-meta p{
  font-family: 'Arial';
  font-size: 11px;
  color: #999;
}

/*Main Page Section*/
#main-page{
  background-color: #fff;
  padding: 80px;
  max-width: 778px;
  margin: 20px auto 0px;

  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  position: relative;
}
#main-page *{
  text-align: left;
  font-family: 'RobotoLight';
}
#main-page h1{
  color: #ed145b;
  font-size: 33px;
}
#main-page .page-content{
  color: #606060;
  font-size: 13px;
}